@use 'variables' as *; // Importa las variables de _variables.scss (importante)

// Breakpoints mixin con validación
// Usa: @include breakpoint(tablet) { ... }

@mixin breakpoint($bp) {
  @if $bp == tablet {
    // Tablet ≥ 768px
    @media (min-width: $bp-tablet) { @content; }

  } @else if $bp == tablethorizontal {
    // Tablet horizontal ≥ 1024px
    @media (min-width: $bp-tablet-horizontal) { @content; }

  } @else if $bp == desktop {
    // Desktop ≥ 1200px
    @media (min-width: $bp-desktop) { @content; }

  } @else if $bp == desktopxl {
    // Desktop XL ≥ 1440px
    @media (min-width: $bp-desktop-xl) { @content; }

  } @else {
    // Control de errores para breakpoints mal escritos
    @error "No breakpoint named `#{$bp}` found.";
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button($bg-color: $black, $color: $white) {
  display: inline-block;
  padding: 16px 24px;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  border-radius: 28px;
  font-weight: bold;
}

@mixin button--pink-orange() {
  @include button();
  background-image: $gradient-pink-orange;
}

@mixin button--pink-blue() {
  @include button();
  background-image: $gradient-pink-blue;
}
