@use '../abstracts' as *;

header.header-principal {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 35px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    @include reset-list();
  }
}
